body,
html {
    height: 100vh;
    margin: 0;
}

.header-nav {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;

    border-bottom: 3px solid #FAED7D;
}

.navimg {
    display: none;
}

.myContents {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 128px;
    padding-top: 200px;
    width: 100%;
}



section {
    height: calc(100vh);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*
nav ul - 내비게이션 가로로 표현
*/
.navbar {
    display: block;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px 10px 0 10px;
    justify-content: center;
}

.navbar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
}

.tog {
    display: none;
}

.videomain {
    position: relative;
    z-index: 1;
    overflow: hidden;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

.videomain video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

}

.mvcontent {
    width: 100%;
    height: 100%;

}

.mvcontent img {
    width: 60vh;
    position: absolute;
    right: 0;
    bottom: 0;
}

.sec2 {
    height: 90vh;
    width: 100%;
    padding-top: 80px;


}



.sec3 {
    display: flex;

}

.sec3 div {
    width: 45vh;
    height: 45vh;
    margin: 0;
    margin: 3vh;

    border: 3px solid #000;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    line-height: 70vh;
    font-size: 3vh;
}

.synop p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: sans-serif;
    font-size: 3vh;
    color: #3C3836;
    background: #E4F7BA;
    padding: 10px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.cha1 {
    background: url(../img/hundred.jpg) left center no-repeat;
    background-size: cover;
}

.cha2 {
    background: url(../img/london.png) center center no-repeat;
    background-size: cover;
}

.cha3 {
    background: url(../img/voice.png) center center no-repeat;
    background-size: cover;
}

.chatext {
    margin: 0 5px;
    padding: 4px 15px;
    border-radius: 20px;
    background: #fff;
    color: #000;
}


nav li a:hover {
    background: #BDBDBD;
    color: aliceblue;
}


.chapter0 {
    background: #F3A67C;
}

.chapter1 {
    background: #F3A67C;
}

.chapter2 {
    background: #000000;


}

.chapter3 {
    background: #E84757;
}

.chapter3 a {
    text-decoration: none;
}

.chapter4 {
    background: #FFFF97;
}


.footerdiv {
    display: flex;
    width: 100%;
    height: 120px;
    background: #5D5D5D;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.footerdiv div {
    padding: 0;
    margin: 0;
    z-index: 10;
    padding-left: 30px;
}

.footerright {
    padding: 0;
    margin: 0;
}

.footerright div p {
    padding: 0;
    margin: 0;
}

.snsicon {
    display: flex;
    list-style: none;
    margin: 0;

    justify-content: center;
}

.snsicon li {
    padding-right: 20px;
    font-size: 60px;
}

/*-----------------------/main.html----------------------------*/
/*-----------------------character.html----------------------------*/


.chadetanav {
    padding: 0;
    margin: 0;
    position: fixed;
    display: flex;
    height: 55px;
    width: 100%;
    background: #fff;
    z-index: 10;
    background: #5D5D5D;
    color: #fff;
    text-align: center;
    
   
    
    
}
.chadetanav a{
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
     font-size: 35px;
    color: #fff;
}
.chadetanav a img {
    padding-top: 10px;
    height: 40px
}

.characterpage .characternav .charactermain {
    display: flex;
}

.characternav {
    position: fixed;
    z-index: 5;
    width: 30vh;
    height: 100%;
    padding-top: 80px;
    background: #fff;
    align-items: center;
    vertical-align: middle;

}


.charactermain div {
    padding: 0;
    margin-left: 200px;
    width: 130vh;
    height: 100%;
    background-size: cover;
}

.cr_pooh {

    background: url(../img/CR_character_poster_-_Pooh.png) bottom center no-repeat;
    background-size: cover;
}

.cr_pooh:hover {
    background: url(../img/CR_character_poster_-_Pooh2.png) bottom center no-repeat;
    background-size: cover;
}

.cr_piglet {

    background: url(../img/CR_character_poster_-_Piglet.png) bottom center no-repeat;

}

.cr_piglet:hover {

    background: url(../img/CR_character_poster_-_Piglet2.png) bottom center no-repeat;
    background-size: cover;

}


.cr_eyor {

    background: url(../img/CR_character_poster_-_Eeyore.png) bottom center no-repeat;

}

.cr_eyor:hover {

    background: url(../img/CR_character_poster_-_Eeyore2.png) bottom center no-repeat;
    background-size: cover;

}

.cr_tiger {
    background: url(../img/CR_character_poster_-_Tigger.png) bottom center no-repeat;

}

.cr_tiger:hover {
    background: url(../img/CR_character_poster_-_Tigger2.png) bottom center no-repeat;
    background-size: cover;

}

.cr_roo {

    background: url(../img/Christopher_Robin_-_Kanga_&_Roo_poster.jpg) center center no-repeat;

}

.cr_roo:hover {

    background: url(../img/Christopher_Robin_-_Kanga_&_Roo_poster2.png) center center no-repeat;
    background-size: cover;
}

.characternavin {
    display: table;
    margin: 0 auto;
}

.characternavin ul {
    list-style: none;
    display: block;
}

.characternavin img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.characternavin a {
    text-decoration: none;
    color: #000;
}



/*-----------------------/character.html----------------------------*/
/*-----------------------event.html----------------------------*/
.eventimg {
    height: 80vh;
}

.eventtext {
    text-align: center;
    height: 200px;

}

.eventtext h4 {
    padding: 0;
    margin: 0;
}

.eventcontent {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}

.pagenationdiv {
    margin: 0 auto;
    display: table;
    vertical-align: middle;

}

.pagenation {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.pagenation li {
    float: left;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
    background: #e0e0e0;
}

.pagenation li:first-child {
    border-radius: 10px 0 0 10px;
}

.pagenation li:last-child {
    border-right: 1px solid #b9b9b9;
    border-radius: 0 10px 10px 0;
}

.pagenation li:hover {
    background: #d1d1d1;
}

.pagenation li a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #3e5358;
}

.pagenation li.current {
    background: #f6d7b6;
}

.eventtable {
    margin: 0 auto;
    display: table;
    vertical-align: middle;
}

.eventtable table {
    text-align: center;
    width: 800px;
    border-collapse: collapse;
    border-top: 3px solid #7facc9;
    border-bottom: 3px solid #7facc9;
    background: #fff;

}

.eventtable table tr td img {

    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.eventtable table td {
    text-align: center;
    height: 80px;
    border-bottom: 2px solid #bdbdbd;

}
.eventimg{

    background: url(../img/eventmain.png) center center no-repeat;
    background-size: cover;
   
   
}
.eventback{
    background: #FFFFB3;
}
/*-----------------------/event.html----------------------------*/
@media screen and (min-width: 769px) {
    .navbar {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }

    .navbar ul {

        display: block;
    }

    .sec3 {
        display: block;
    }

    .navimg {
        display: flex;
        width: 10vh;
    }

    .sec3 div {
        width: 45vh;
        height: 20vh;
        margin: 0;
        margin: 3vh;

        border: 3px solid #000;
        border-radius: 10px;
        background-color: #fff;
        text-align: center;
        line-height: 30vh;
        font-size: 3vh;

    }

    .navup {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tog {
        display: flex;
        margin-right: 10px;
        padding: 0;
        border: none;
        outline: none;
        font-size: 28px;
        opacity: 0.5;
        cursor: pointer;

    }

    .tog:hover {
        opacity: 0.3;
    }



    .synop p {
        width: 40vh;
        margin: 0;
        padding: 0;
        text-align: left;
        font-family: sans-serif;
        font-size: 2vh;
        color: #3C3836;
        background: #E4F7BA;
        padding: 10px;
        text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
        box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    }

    .mvcontent img {
        width: 60vh;
        position: absolute;
        top: 87%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .footerdiv {

        display: block;
        width: 100%;
        height: 220px;
        background: #5D5D5D;
        color: #fff;
        align-items: center;
        justify-content: center;
        margin-top: -16px;
        padding-top: 10px;
    }

    .footerdiv div {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .characternavin ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    .characternav {
        position: fixed;
        margin: 0;
        padding: 0;
        z-index: 5;
        width: 100%;
        height: 100px;
        padding-top: 80px;
        background: #fff;
        align-items: center;
        vertical-align: middle;

    }

    .charactermain div {
        padding: 0;
        margin: 0;
        width: 100vh;
        height: 100vh;
        background-size: cover;
    }

    .characternavin img {
        margin: 0;
        padding: 0;
        width: 10vh;
        height: 10vh;
        border-radius: 50%;

    }
    table{
        width: 50vh !important;
    }

}
